<div class="view-port">
    <div class="container">
        <div class="title">Form Details</div>
        <div class="content">
            <form [formGroup]="formdetails">
                
                <ng-container formArrayName="details" class="user-data">
                    <ng-container *ngFor="let detailForm of details.controls; let i = index">
                        <div [formGroupName]="i">
                            
                            <mat-form-field class="form-details" appearance="fill">
                                <mat-label>Enter Question</mat-label>
                                    <input matInput name="question" type="text" formControlName="question">
                                        <mat-error *ngIf="detailForm.get('question')?.hasError('required')">
                                            Question is <strong>required</strong>...
                                        </mat-error>
                            </mat-form-field><pre></pre>

                            <mat-form-field class="form-details" appearance="fill">
                                <mat-label>Answer Type</mat-label>
                                <mat-select name="answer_type" formControlName="answer_type">
                                    <mat-option *ngFor="let type of types" [value]="type.id">{{type.Value}}</mat-option>
                                </mat-select>
                                    <mat-error *ngIf="detailForm.get('answer_type')?.hasError('required')">
                                        answer Type is <strong>required</strong>...
                                    </mat-error>
                            </mat-form-field><pre></pre>

                            <div *ngIf="detailForm.get('answer_type')?.value === 3">
                              
                                <ng-container formArrayName="answers" class="user-data">
                                    <ng-container *ngFor="let answerForm of answers(i).controls; let j = index">
                                        <div [formGroupName]="j">
                                            <mat-form-field class="form-details" appearance="fill">
                                                <mat-label>Answer {{j}}</mat-label>
                                                    <input matInput name="answer2" type="text" formControlName="radio1">                                    
                                                        <mat-error *ngIf="answerForm.get('radio1')?.hasError('required')">
                                                            Answer is <strong>required</strong>...
                                                        </mat-error>                                        
                                            </mat-form-field>

                                            <div class="button_delete">
                                                <button mat-raised-button *ngIf="answers(i).controls.length > 2"  (click)="deleteAnswer(i,j)">
                                                    <mat-icon color="warn">delete</mat-icon>
                                                </button>
                                            </div>

                                        </div>
                                    </ng-container>
                                </ng-container>

                                <div class="example-button-col">
                                    <button mat-raised-button color="accent" (click)="addAnswer(i)"><mat-icon>add</mat-icon></button>
                                </div>
                            </div>

                            <div class="button_delete">
                                <button mat-raised-button *ngIf="details.controls.length > 1" (click)="deleteDetail(i)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </div> 
                            
                        </div>
                    </ng-container>
                </ng-container>

                <div class="example-button-col">
                    <button mat-raised-button color="accent" (click)="addDetail()"><mat-icon>add</mat-icon> More Question</button>
                </div>

                <div class="example-button-row">
                    <button mat-raised-button type="button" (click)="reset()">Reset</button>
                    <button mat-raised-button type="submit" (click)="onSubmit()" color="primary">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>