<div class="view-port">
    <div class="container">
        <div class="title">Create Form & Fill Details</div>
            <div class="content">

                <button *ngIf="!data" mat-raised-button color="primary" [routerLink]="['/formdetails/add']"><mat-icon>person_add</mat-icon> Add Form</button>
                <button *ngIf="data" mat-raised-button color="warn" [routerLink]="['/formdetails/edit']"><mat-icon>edit</mat-icon> Edit Form</button>
                
                    <div class="user-details" *ngFor="let datas of data?.details">

                        <div class="example-full-width">
                            <mat-label>Question:&nbsp;</mat-label>
                            {{ datas?.question }}
                        </div><br>

                        <div *ngIf="datas?.answer_type === 3" class="form-details">
                            <mat-label>Answer:</mat-label>&nbsp;
                            <mat-radio-group>
                                <div *ngFor="let a of datas.answers; let i = index" class="form-details">
                                    <mat-radio-button value="answers">{{ datas?.answers[i].radio1 }}</mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div><br>

                        <div *ngIf="datas?.answer_type === 1" class="form-details">
                            <mat-form-field appearance="fill" [style.width.px]=1300>
                                <mat-label>Answer:</mat-label>&nbsp;
                                    <input matInput name="short_answer" type="text">
                            </mat-form-field>
                        </div><br>

                        <div *ngIf="datas?.answer_type === 2" class="form-details">
                            <mat-form-field appearance="fill" [style.width.px]=1300>
                                <mat-label>Answer:</mat-label>&nbsp;
                                    <textarea matInput name="long_answer" type="text"></textarea>
                            </mat-form-field>
                        </div><br>

                    </div><pre></pre>
            </div>
    </div>
</div>